body {
  margin: 0;
  font-family: arial;
}

header {
  background: #000;
  color: white;
  text-align: center;
  padding: 5px 15px 0px;
}

header h1 {
  margin: 0;
  display: inline;
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline;
}

nav ul li {
  color: green;
  background: #777;
  display: inline-block;
  list-style-type: none;
  margin: 5px;
  padding: 5px 15px;
}

nav ul li a {
  color: white
}

.row {
  clear: both;
}

.col {
  text-align: center;
  width: 31.2%;
  background: #333;
  padding: 0.5%;
  margin: 0.5%;
  float: left;
}

footer {
  clear: both;
}
